.herosection{
    padding: 20px;
}

.herosection .img{
    padding: 0 80px;
    position: relative;
    z-index: -200;
}

.herosection .info{
    position: absolute;
    z-index: -20;
    color: #fff;
    padding-left: 20px;
    width: 400px;
}